<article class="article article-gallery article-type-list" itemscope="">
    <!-- include csshake -->
    <!-- <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css"> -->
    
    <header class="article-header">
      <h1 itemprop="title"><%= page.title %></h1>
      <p class="text-muted">
        <%= __('page.gallery-desc') %>
      </p>
    </header>
    <!-- Use NoPrint.js to disable print -->
    <!-- <script language="javascript">
      var noPrint=true;
      var noCopy=true;
      var noScreenshot=true;
      var autoBlur=true;
    </script>
    <script type="text/javascript" src="https://pdfanticopy.com/noprint.js"></script> -->


    <!-- 屏蔽shift ctrl alt防止快捷键截图 -->
    <!-- <script>
      function lock(){ 
      if(event.shiftKey||event.ctrlKey||event.altKey) 
        event.keyCode=0;
        event.returnValue=false;
        // 清空整个页面
        document.body.innerHTML="";
        // alert("达咩！");
      }
      document.onkeydown=lock; 
    </script> -->

    <div class="panel-body">
      <div class="row">
        <% for (var link in site.data.gallery) { %>
          <% var item = site.data.gallery[link]; %>
            <div class="col-sm-9 col-md-6">
              <div class="panel panel-default hover-shadow hover-grow">
                <figure class="media media-middle" >
                  <div class="media-left pr-2x" >
                    <a href="<%= item.link %>" target="_blank" class="img-burn thumb-md media-middle">
                      <img src="<%= item.avatar %>" class="w-full" alt="">
                    </a>
                  </div>
                  <div class="media-body p-0x">
                    <h4 class="media-heading"><a href="<%= item.link %>" target="_blank"><span class="text-dark"><%= link %></span></a></h4>
                    <div class="text-muted">
                      <%= item.desc %>
                    </div>
                  </div>
                </figure>
              </div>
            </div>
            <% } %>
      </div>
    </div>
  </article>
  <% if (theme.comment.type && !is_home()) { %>
    <%- partial('_partial/post/comment', {post: page}) %>
  <% } %>
  